.cart ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cart ul li {
    border: 1px solid #eee;
    margin-top: 25px;
    margin-bottom: 25px;
}

.cart ul li img {
    width: 150px;
    height: 150px;
}

.cart ul li .name {
    margin-left: 25px;
}

.cart ul li .price {
    margin-left: 25px;
}

.cart ul li i {
    float: right;
    font-size: 20px;
    margin-top: 65px;
    margin-right: 50px;
}

.cart .btn {
    width: 300px;
    display: block;
    margin: 0 auto;
    padding: 30px 50px;
    font-size: 20px;
}